<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/board.css') }}"
      rel="stylesheet"
    />
    <title>Board</title>
  </head>
  <body>
    <section class="notice">
      <div class="page-title">
        <div class="container">
          <h3>게시판</h3>
        </div>
      </div>
      <!-- board search area -->
      <div id="board-search">
        <div class="container">
          <div class="search-window">
            <form method="POST" >
              <div class="search-wrap">
                <label for="search" class="blind">게시판 내용 검색</label>
                <input
                  id="search"
                  type="search"
                  name="search"
                  placeholder="검색어를 입력해주세요."
                />
                <button type="submit" class="btn btn-dark">검색</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- board list area -->
      <div id="board-list">
        <div class="container">
          <table class="board-table">
            <thead>
              <tr>
                <th scope="col" class="th-num">번호</th>
                <th scope="col" class="th-title">제목</th>
                <th scope="col" class="th-date">내용</th>
                <th scope="col" class="th-file">파일이름</th>
              </tr>
            </thead>
            <tbody>
              {% for post in posts %}
              <tr>
                  <td><a href="/random/{{ post.number }}">{{ post.number }}</a></td>
                  <td><a href="/random/{{ post.number }}">{{ post.title }}</a></td>
                  <td><p>{{ post.context }}</p></td>
                  <td><p>{{ post.fileName }}</p></td>
                </a>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>
