<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link href="{{ url_for('static', filename='css/style.css') }}"
    rel="stylesheet"
  </head>
  <body>
    <div class="login-wrapper">
      <h2>회원가입</h2>
      <form method="POST" id="login-form">
        <a>아이디</a>
        <input
          type="user_ID"
          name="userId"
          placeholder="아이디를 입력해주세요."
        />
        <a>비밀번호</a>
        <input
          type="user_Password"
          name="userPassword"
          placeholder="비밀번호를 입력해주세요."
        />
        <a>이름</a>
        <input
          type="user_Name"
          name="userName"
          placeholder="이름을 입력해주세요"
        />
        <input type="submit" value="회원가입" />
      </form>
    </div>
  </body>
</html>
